{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron text-center">
    <h1>Welcome To My Flask Blog</h1>
    <p class="lead">This web app is build on the Python Flask framework and it's focus is on Python Development</p>
</div>
<h2>Featured Articles</h2>
<div class="card">
    <div class="card-header">
        Most Popular
    </div>
    <div class="card-body">
        <h5 class="card-title">Article1</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Read More</a>
    </div>
    <hr>
    <div class="card-body">
        <h5 class="card-title">Article2</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Read More</a>
    </div>
</div>
{% for post in posts %}
<h2>{{ post.get('title') }}</h2>
<p>By {{ post.get('author') }} on {{ post.get('date_posted') }}</p>
<p>{{ post.get('content') }}</p>
{% endfor %}
{% endblock content %}